
<ul class="nav">
  <li class="<%= 'active' if params[:controller] == 'home' %>"><%= link_to 'Home', root_path %></li>
  <li class="<%= 'active' if params[:controller] == 'posts' %>"><%= link_to 'Posts', posts_path %></li>
  <li class="dropdown">
    <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Tutorials <b class="caret"></b></a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="http://google.com">Spring</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#anotherAction">Rails</a></li>
    </ul>
  </li>
</ul>